.built-with__image {
    max-width: 250px;
}

.built-with__logos {
    visibility: hidden;
    div {
        height: 51px;
    }
}

.built-with__group, 
.built-with__heading {
    visibility: hidden;
}

@screen md {
    .built-with__image {
        max-width: 280px;
    }

    .built-with__logos {
        right: 25px;
        bottom: 47px;
    }
}